.card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  padding: 40px 0 70px;
  border-radius: 15px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px 42px -18px rgba(0, 0, 0, 0.75);
}


.loginForm {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.input {
  background-color: #F8D7DA;
  border: none;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 7px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.label {
  margin-top: 10px;
  padding: 5px;
  font-size: 1.2rem;
}

.button {
  background-color: #D16B8F;
  color: white;
  border: none;
  padding: 5px;
  margin-top: 10px;
  font-size: 1.2rem;
  border-radius: 7px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.button:hover{
  background-color: #F8D7DA
}

.button:active{
  background-color: #D16B8F
}

@media (max-width: 992px) {
.card {
  min-width:90vw;
  flex-wrap: wrap;
}
}